

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    padding: 0px;
}

h1{
    color:#ee9c9e;
}

header{
    background: #ee9c9e;            
	min-height: 60px;
}


footer{
    background: #d10372;
 	color: #fff;
    min-height: 100px;
 	padding: 0px;   
     
}


.reseteo-borde-migas-de-pan{
    border-radius: 0px 0px 10px 10px;
}
.migascolor{
    background: #ee9c9e;
}

.migascolor:li {
    color:#fff;	
}

.reseteo-menu{
    min-width: 100px;
}

.separador {
	padding: 60px;
}

.navcolor{
    background: #d10372;
}

.navli{
    color: #fff;
}


.bienvenido{
    background: #ee9c9e;
    color:#fff;
    border-radius: 10px 10px 10px 10px;
    padding: 25px;
    margin: 10px 0px 0px 0px;
}

.colorrosa{
    background: #d10372;
    color: #fff;
}

