body{
	background: #F8C8D4 url("../img/fondo.png");
	background-repeat: no-repeat;
	padding: 0px;
}

h1
 {color:cadetblue;}

header{background: #98FD86;            
	   min-height: 60px;}


footer
 {background: #d5d5d5;
 	color: #212121;
 	min-height:100px;
    
}


.reseteo-borde-migas-de-pan
 	{border-radius: 0px 0px 10px 10px;}

.reseteo-menu
    {min-width: 100px;}

.separador {
	padding: 60px;
}

.cat-boton {
    background: blue;
    color: white;
    font-weight: bold;
}
#redes li{
	list-style: none;
	display: inline-block;
	text-align: center;
}
footer{
	text-align: center;	
	background-color:transparent;  ;

}
nav.navbar{
	background-color:#FFFFFF;
	
}
.color2{
	background: #FFFFFF;
}

