

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    padding: 0px;
}

h1,h2{
    color:#ee9c9e;
    font-family: 'Roboto', sans-serif;
}

.lin,p{font-family: 'Source Sans Pro', sans-serif;
    color: #575757;
font-size: 17px;}

header{
    background: #ee9c9e;            
	min-height: 60px;
}

/*
Rosa claro #ee9c9e;
Rosa Obscuro #d10372;*/
footer{
    background: #d10372;
 	color: #fff;
    min-height: 45px;
 	padding: 0px;   
     
}


.reseteo-borde-migas-de-pan{
    border-radius: 0px 0px 10px 10px;
}
.migascolor{
    background: #ee9c9e;
    color: white;
}

.migascolor2 {
    color:#fff;	
    text-decoration: none;
}

.migascolor2:hover {
    color:#d10372;	
    text-decoration: none;
}

.reseteo-menu{
    min-width: 100px;
}

.separador {
	padding: 60px;
}

.navcolor{
    background: #d10372;
}

.navli{
    color: #fff;
}


.bienvenido{
    background: #ee9c9e;
    color:#fff;
    border-radius: 10px 10px 10px 10px;
    padding: 25px;
    margin: 10px 0px 0px 0px;
}

.colorrosa{
    background: #d10372;
    color: #fff;
}

