strong, img {
    display: inline-block;
    vertical-align: central;
}
.img {
    margin-right: 10px;
    border-radius: 10px;
    max-height: 35px;
    max-width: 35px;
    vertical-align: central;
}
#logout {
    vertical-align: central;
}