        <div class="container" id="div-formulario">
            <br><br>
            <div class="row">
                <div id="prebusqueda" style="display: none">

                </div>
                <form id="buscar-cat-form" action="busqueda_categoria.php" method="POST">
                </form>
            </div>
        </div>   
        <br><br>
        <div class="container">     
            <table class="table table-striped table-hover table-bordered" id="tabla-busqueda" style="display: none">
                <thead class="success">
                    <tr>
                        <td><b>RNPA</b></td>
                        <td><b>Categoria</b></td>
                        <td><b>Marca</b></td>
                        <td><b>Descripcion</b></td>
                    </tr>
                </thead>
                <tbody id="listado">
                </tbody>
            </table>
            <div class="row row-lg-3" id="divVolver">
                
            </div>
        </div>