<!--SCRIPT PARA CAMBIAR LOS NOMBRES ENTRE PÁGINAS -->
<script language="javascript">
    document.title = "Busqueda por categorias";
</script>
       
                   <div class="container-fluid" id="div-formulario">
            <br><br>
            <div class="row">
                <div id="prebusqueda" style="display: none">

                </div>
                <form id="buscar-cat-form" action="busqueda_categoria.php" method="POST">
                </form>
            </div>
        </div>   
        <br><br>
        <div class="container">     
            <table class="table table-striped table-hover table-bordered table-responsive tablesorter" id="tabla-busqueda" style="display: none">
                <thead class="success">
                    <tr>
                        <td><b>RNPA</b></td>
                        <td><b>Categoria</b></td>
                        <td><b>Marca</b></td>
                        <td><b>Descripcion</b></td>
                        <td><b>Ubicacion</b></td>
                    </tr>
                </thead>
                <tbody id="listado">
                </tbody>
            </table>
            <div id="paginador" class="pager btn-link" style="display: none">
                <ul class="pagination">
                    <li class="first glyphicon glyphicon-fast-backward" alt="First"> </li>
                    <li class="glyphicon glyphicon-backward prev" alt="Prev"> </li>
                    <li class="pagedisplay"></li>
                    <li class="glyphicon glyphicon-forward next" alt="Next"> </li>
                    <li class="glyphicon glyphicon-fast-forward last" alt="Last"> </li>
                </ul>
            </div>
            <div class="row row-lg-3" id="divVolver">
                
            </div>
        </div>