<!--SCRIPT PARA CAMBIAR LOS NOMBRES ENTRE PÁGINAS -->
<script language="javascript">
    document.title = "Consejos";
</script>     
        
              <br>
        <!--Menu de navegacion por pills 
            -se utiliza un menu de navegacion por tab para poder ir de pagina en pagina
            -con li se le da las pestañas y con role=presentation el estilo o funcion de pestaña -->
         <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation" id="liAcercaDe"><a href="informacion.php" >Celiaquia</a></li>
                <li role="presentation"  id="liDesarrolladores"><a href="diagnostico.php">Diagnostico</a></li>
                <li role="presentation"  id="liDesarrollo"><a href="sintomatologia.php">Sintomatologia</a></li>
                <li role="presentation" class="active" id="liDesarrollo"><a href="consejosutiles.php">Consejos utiles</a></li>
                <li role="presentation" id="liDesarrollo"><a href="recomendaciones.php">Recomendaciones</a></li>
            </ul>
        </div>
        <!-- Contenedor de texto con una clase main row, justificado con text-justify y compartido con una imagen de muestra. que se van a    moldando en base al sistema de columnas-->
        <div class="container">
            <section class="main row">
                <article class="color2 col-xs-12 col-sm-8 col-md-8 col-lg-8 ">			
                <br>
                    <!-- cajaPestanias tiene todas las pestañas posibles adentro, estan ocultas y a medida que se les hace click estas se van mostrando. Por default se muestra la pestaña Celiaquia. -->
                    <div class="text-justify" id="cajaPestanias">                                                 
                        <!-- Caja del texto Diagnostico -->
                      
                            <ol class="breadcrumb reseteo-de-migas-de-pan migascolor">              
                                <li><a href="index.html" class="migascolor2"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                                <li>Información</li>
                                <li>Consejos Útiles</li>          
                            </ol>
                            <h2>¿Consejos Útiles</h2>
                            <br>                        
                            <ul>
                                <li><b>No debe iniciarse una dieta sin gluten, </b> sin haber realizado previamente una biopsia intestinal que demuestre la intolerancia al mismo, por alteración de la mucosa. </li>
                                <li><b>La dieta debe seguirse estrictamente durante toda la vida. </b> La ingesta de pequeñas cantidades de gluten puede producir lesión de las vellosidades intestinales, aunque no siempre estas lesiones tienen por qué ir acompañadas de síntomas clínicos</li>
                                <li><b>Se debe eliminar de la dieta</b> cualquier producto que lleve como ingrediente trigo, avena, cebada, centeno, y/o productos derivados de los mismos: almidón, harina, panificados, etc. </li>
                                <li><b>Se pueden consumir todos los productos naturales</b> como carnes, verduras, frutas, legumbres, huevos, hortalizas, etc. </li>
                                <li>En cuanto a la <b>CERVEZA y el WHISKY</b> consumir solo las marcas inscriptas como Libres de Gluten. </li>
                                <li><b>Como norma general, deben eliminarse de la dieta</b> todos los productos a granel (sueltos) como harinas, cereales, especias, polvos para preparar gelatinas, etc. ya que pueden contaminarse con otros productos que contengan gluten o en el caso de las harinas de maíz y de arroz, puede suceder que la molienda se haya realizado en molinos donde también muelen otros cereales como trigo o avena. </li>
                                <li><b>Los productos elaborados artesanalmente que no estén etiquetados, </b> donde no se pueda comprobar si están inscriptos como Libres de Gluten, se aconseja no consumirlos. </li>
                                <li><b>Disponga de un espacio para almacenar exclusivamente los alimentos especiales sin TACC</b></li>
                                <li><b>Evitar freír alimentos sin TACC </b>en aceites donde previamente se hayan freído productos con gluten. </li>
                                <li><b>Utilice siempre utensilios de cocina limpios. </b> No use la misma cuchara para elaborar un plato que contiene gluten y otro que no lo tiene. </li>
                                <li><b>Tener en cuenta la manipulación de alimentos, en bares y restaurantes. </b> Consulte la forma de elaboración, marca de especias e ingredientes de cada plato, antes de su consumo, (ejemplo: tortillas de papas, papas fritas cocidas en freidoras que se utilizan también para freír milanesas, empanadas, rebozados con gluten, etc.). Las hamburguesas, salsas, y demás, pueden contener harina de trigo para unir o espesar la preparación. </li>
                                <li><b>Las pastas libres de gluten deben cocinarse por separado de las que contienen gluten. </b></li>
                                <li><b>No utilice cubitos de caldo, sustitúyalos por caldos naturales o caldos sin TACC. </b> </li>
                                <li><b>Se debe tener precaución con los alimentos importados. </b> En otros países, en especial Europa, los límites aceptados en los análisis de detección de gluten exceden los 20 mg/kg. </li>
                                <li><b>Ante la duda de si un producto puede contener TACC, NO lo consuma.</b> </li>
                                <li><b>Consultar el listado de Medicamentos,</b> antes de una prescripción médica, ya que algunos fármacos en sus excipientes pueden contener gluten. </li>
                                <br>
                            </ul>                           
                          
                      </article>
                 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <img src="img/publicidad2.png" alt="" class="img-responsive img-rounded">
                    </div>
            </section>	
         