<!--SCRIPT PARA CAMBIAR LOS NOMBRES ENTRE PÁGINAS -->
<script language="javascript">
    document.title = "Desarrolladores";
</script>
     
        <!--Menu de navegacion por pills 
            -se utiliza un menu de navegacion por tab para poder ir de pagina en pagina
            -con li se le da las pestañas y con role=presentation el estilo o funcion de pestaña -->
        <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation" id="liAcercaDe"><a href="acercade.php">CeliAPP</a></li>
                <li role="presentation" id="liDesarrolladores" class="active"><a href="desarrolladores.php">Desarrolladores</a></li>
                <li role="presentation" id="liDesarrollo"><a href="desarrollodesoftware.php">Desarrollo de Software</a></li>
            </ul>
        </div>
        <!-- Contenedor de texto con una clase main row, justificado con text-justify y compartido con una imagen de muestra. que se van a    moldando en base al sistema de columnas-->
        <div class="container">
            <section class="main row">
                <article class="color2 col-xs-12 col-sm-8 col-md-8 col-lg-8">			
                    <br>

                    <!-- Migas de pan -->
                    <ol class="breadcrumb reseteo-de-migas-de-pan migascolor">				
                        <li><a href="index.html" class="migascolor2"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                        <li>Acerca de Desarrolladores</li>
                    </ol>
                    <h2>Desarrolladores</h2><br>
                        <p class="text-justify">Nosotros somos un grupo de desarrolladores pertenecientes a la Universidad Provincial de Ezeiza. <br>  
                        En mediados del año 2016 nos proponen para la cátedra de Desarrollo de Software desarrollar un proyecto de software completo. <br>	
                        El trabajo en equipo y el compañerismo fue crucial para llevar a cabo la labor de entender cómo funciona el proceso del entendimiento y el desarrollo de un proyecto en equipo. <br>
                        El equipo  está conformado por un grupo de profesionales técnicos con habilidades y con personalidades variadas. 
                        </p><br>
                                        

                    <!--
                    - posee un container
                    - col-xs (cantidad de columnas que ocupara en tamaño extra chico)
                    - col-sm (cantidad de columnas que ocupara en tamaño chico)
                    - col-md (cantidad de columnas que ocupara en tamaño mediano)
                    - col-lg (cantidad de columnas que ocupara en tamaño largo)
                    - seguido de el tamaño va un numero, es el numero de columnas que puede adoptar, como maximo son 12 ( col-xs-12)
                    - se usa la class row para referenciar que los elementos dentro del div son una sola fila
                    -->
                    
                   
                    
                </article>
                <div class="hidden-xs hidden-sm col-md-4 col-lg-4"> <img src="img/publicidad2.png" alt="" class="img-responsive img-rounded">
                    </div>
            </section>	
            
            <br>
            <div class="thumbnail"><br>
            <div class="container">
            <!-- PAR DE FOTOS-->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="img/soria.png" alt="">
                    <div class="overlay">
                    <h3></h3>
    				<p> 
    				<b>Maximiliano Soria</b> <br>    				
    				<a href="mailto:maximilianorodrigosoria@gmail.com" ><span class="glyphicon glyphicon-envelope"></span> Email</a>	    				
		            </p> 
                </div>
            </div>  
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="img/matias.png" alt="">
                    <div class="overlay">
                   <h3></h3>
    				<p> 
    				<b>Matias Medina</b> <br>    				
    				<a href="mailto:matiasdanielmedina86@gmail.com"><span class="glyphicon glyphicon-envelope"></span> Email</a>	    				
		            </p> 
                </div>
            </div>  
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="img/norberto.png" alt="">
                    <div class="overlay">
                   <h3></h3>
    				<p> 
    				<b>Andres Schuster</b> <br>    				
    				<a href="mailto:andi.schus@live.com.ar"><span class="glyphicon glyphicon-envelope"></span> Email</a>	    				
		            </p> 
                </div>
            </div>  
            </div>  
            
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="img/fer.png" alt="">
                    <div class="overlay">
                   <h3></h3>
    				<p> 
    				<b>Fernando Piris</b> <br>    				
    				<a href="mailto:fernandoepiriz@gmail.com"><span class="glyphicon glyphicon-envelope"></span> Email</a>	    				
		            </p> 
                </div>
            </div>  
            </div><br>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="img/roman.png" alt="">
                    <div class="overlay">
                   <h3></h3>
    				<p> 
    				<b>Roman Venica</b> <br>    				
    				<a href="mailto:romanvenica@gmail.com"><span class="glyphicon glyphicon-envelope"></span> Email</a>	    				
		            </p> 
                </div>
            </div>  
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="img/cristian.png" alt="">
                    <div class="overlay">
                   <h3></h3>
    				<p> 
    				<b>Cristian Escudero</b> <br>    				
    				<a href="mailto:cristianescuderoa@gmail.com"><span class="glyphicon glyphicon-envelope"></span> Email</a>	    				
		            </p> 
                </div>
            </div>  
            </div>
        </div>
        
         <div class="col-xs-12 col-sm-12 hidden-md hidden-lg"> <img src="img/publicidad2.png" alt="" class="img-responsive img-rounded">
                    </div>
                    
                   </div>
                   
                  </div>