<!--SCRIPT PARA CAMBIAR LOS NOMBRES ENTRE PÁGINAS -->
<script language="javascript">
    document.title = "Desarrollo de Software";
</script>
       
        <!--Menu de navegacion por pills 
            -se utiliza un menu de navegacion por tab para poder ir de pagina en pagina
            -con li se le da las pestañas y con role=presentation el estilo o funcion de pestaña -->
        <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation" id="liAcercaDe"><a href="#" onclick="textoAcercaDe();">CeliAPP</a></li>
                <li role="presentation" id="liDesarrolladores"><a href="desarrolladores.php">Desarrolladores</a></li>
                <li role="presentation" id="liDesarrollo" class="active"><a href="desarrollodesoftware.php">Desarrollo de Software</a></li>
            </ul>
        </div>
        <!-- Contenedor de texto con una clase main row, justificado con text-justify y compartido con una imagen de muestra. que se van a    moldando en base al sistema de columnas-->
        <div class="container">
             <section class="main row">
             
                <article class="color2 col-xs-12 col-sm-8 col-md-8 col-lg-8">			
                    <br>

                    <!-- Migas de pan -->
                    <ol class="breadcrumb reseteo-de-migas-de-pan migascolor">				
                        <li><a href="index.html" class="migascolor2"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                        <li>Acerca de Desarrollo de software</li>
                    </ol>
                    
                    
                    
                    <div id="carousel-1" class="carousel slide" dataride="carousel">
                        <!--Indicadores
                            -son los indicaodres de a donde apunta cada slide -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-1" data-slide-to="1"></li>
                            <li data-target="#carousel-1" data-slide-to="2"></li>
                        </ol>
                        <!--Contenedor de los slide
                            - aqui se colocan las imagenes ty con hidden-xs y hidden-sm se especifica que el texto se oculte en esos tamaños-->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="img/slide1-des.png" class="img-responsive" alt="">
                            </div>
                            <!--los h3 esta vacios debido a que eran de prueba-->
                            <div class="item">
                                <img src="img/slide2-des.png" class="img-responsive" alt="">

                                <!--los h3 esta vacios debido a que eran de prueba-->   
                            </div>
                              <div class="item">
                                <img src="img/slide3-des.png" class="img-responsive" alt="">

                                <!--los h3 esta vacios debido a que eran de prueba-->   
                            </div>
                        </div>
                        <!--Controles
                                        - se crea un link de referencia con el nombre de #carousel-1
                                        - la clase glyphicon glyphicon-chevron-left define el icono flecha
                                        - sr-only para se usa para poder usarse en dispositivo de solo lectura
                                        - aria-hidden restringe la visibilidad de contenedor-->
                        <a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <!--Se crea un link de referencia con el nombre de #carousel-1
                            - la clase glyphicon glyphicon-chevron-left define el icono flecha
                            - sr-only para se usa para poder usarse en dispositivo de solo lectura
                            - aria-hidden restringe la visibilidad de contenedor -->
                        <a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
    
                    
                    <h2>Catedra de desarrollo de software</h2><br>
                       <p class="text-justify">Nosotros somos un grupo de desarrolladores pertenecientes a la Universidad Provincial de Ezeiza. <br>  
                        A mediados del año 2016 se nos propuso para la cátedra de Desarrollo de Software realizar un proyecto de software completo. <br>    
                        El trabajo en equipo y el compañerismo fue crucial para llevar a cabo la labor de entender cómo funciona el proceso del entendimiento y el desarrollo de un proyecto en equipo. <br>
                        Nuestro grupo está conformado por un equipo de profesionales técnicos con habilidades y personalidades variadas. 
                        </p><br>
                                        

                    <!--
                    - posee un container
                    - col-xs (cantidad de columnas que ocupara en tamaño extra chico)
                    - col-sm (cantidad de columnas que ocupara en tamaño chico)
                    - col-md (cantidad de columnas que ocupara en tamaño mediano)
                    - col-lg (cantidad de columnas que ocupara en tamaño largo)
                    - seguido de el tamaño va un numero, es el numero de columnas que puede adoptar, como maximo son 12 ( col-xs-12)
                    - se usa la class row para referenciar que los elementos dentro del div son una sola fila
                    -->
                    
                   
                    
                </article>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <img src="img/publicidad2.png" alt="" class="img-responsive img-rounded">
                    </div>
            </section>	
            <script src="js/producto.js"></script>