<!-- ################################################- 04.FOOTER -#################################################-->      

    <!-- 4.1 - Declaracion de navbarfooter-->   
            <br>           
          <div class="footer navbar-fixed-bottom">    
            <footer class="site-footer">
               <div class="footerlinea "></div>
                <!-- 4.1.1 - Centrado de contenido-->
                <div class="centrado-footer">     
                    <!-- 4.1.2 - Se define como una fila todo el contenido              
                          
                                        <div class="form-group hidden-lg">
                                           <br>
                                           <input type="text" class="form-control" placeholder="Buscar">                                              
                                        </div>   --> 
                        <!-- 4.1.2.2 - Sub fila 2/3 - Logos y links de redes sociales -->  
                        <a href="#" ><img src="img/Facebook.png" alt="" class="redes" data-toggle="tooltip" data-placement="top" title="Visitanos en facebook"></a>
                        <a href="#"><img src="img/Twitter.png" alt="" data-toggle="tooltip" data-placement="top" title="Visitanos en Twitter"></a>
                </div>
                <!-- #################################################-FIN DE FOOTER-#################################################-->
            </footer>
        </div>
        <!-- #################################################-FIN DE BODY#################################################-->
    </body>
</html>