        <!--SCRIPT PARA CAMBIAR LOS NOMBRES ENTRE PÁGINAS -->
<script language="javascript">
    document.title = "Información";
</script>
        <br>
        <!--Menu de navegacion por pills 
            -se utiliza un menu de navegacion por tab para poder ir de pagina en pagina
            -con li se le da las pestañas y con role=presentation el estilo o funcion de pestaña -->
        <div class="container">
            <ul id="menuNavegacion" class="nav nav-pills">
                <li role="presentation" id="liCeliaquia" textValue="cajaCeliaquia" class="active"><a href="informacion.php">Celiaquia</a></li>
                <li ><a href="diagnostico.php">Diagnostico</a></li>
                <li role="presentation" id="liSintomatologia" textValue="cajaSintomatologia"><a href="sintomatologia.php">Sintomatologia</a></li>
				<li role="presentation" id="liConsejUtil" textValue="cajaConsejos"><a href="consejosutiles.php">Consejos últiles</a></li>
				<li role="presentation" id="liRecCocina" textValue="cajaRecomendaciones"><a href="recomendaciones.php">Recomendaciones</a></li>
            </ul>
        </div>
        <!-- Contenedor de texto con una clase main row, justificado con text-justify y compartido con una imagen de muestra. que se van a    moldando en base al sistema de columnas-->
        <div class="container">
            <section class="main row">
                <article class="color2 col-xs-12 col-sm-8 col-md-8 col-lg-8 ">			
                <br>
                    <!-- cajaPestanias tiene todas las pestañas posibles adentro, estan ocultas y a medida que se les hace click estas se van mostrando. Por default se muestra la pestaña Celiaquia. -->
                    <div class="text-justify" id="cajaPestanias">
                        <!-- Caja del texto Celiaquia -->
                        <div id="cajaCeliaquia">
                            <!-- Migas de pan -->
                            <ol class="breadcrumb reseteo-de-migas-de-pan migascolor">				
                                <li><a href="index.html" class="migascolor2"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                                <li>Información</li>
                                <li>Celiaquia</li>			
                            </ol>
                            <h2>¿Que es la Celiaquia?</h2>
                            <br>                        
                            <p>
                                La <b>celiaquía</b> es la intolerancia permanente al <b>gluten, </b> conjunto de proteínas presentes en el trigo, avena, cebada y centeno (TACC) y productos derivados de estos cuatro cereales. Pueden padecerla tanto niños como adultos. Actualmente, la incidencia es mayor en mujeres, que en varones.
                            </p>
                            <br>
                            <p>
                                Las proteínas se clasifican en dos grupos, prolaminas y gluteninas. Las prolaminas reciben distintos nombres según el cereal de origen: 
                            </p>        
                            <div class="thumbnail">        <br>        
                            <ul class="lin lista">
                               <span class="label label-default">TRIGO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;<span class="label label-warning"> GIADINA</span><br><br>
                                 <span class="label label-default">AVENA&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;<span class="label label-warning"> AVENINA</span><br><br>
                                 <span class="label label-default">CEBADA &nbsp;</span>&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;<span class="label label-warning"> HORDEÍNA</span><br><br>   
                                  <span class="label label-default">CENTENO&nbsp;</span>&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;<span class="label label-warning">SECALINA</span><br><br>   
                            
                                   
                            </ul>
                            </div>
                            <p>
                                El gluten de los cereales mencionados es la forma más conocida de presentación de las prolaminas tóxicas para los celíacos. La gliadina constituye el mayor problema, es la más utilizada en la industria alimenticia.
                                <br>
                                <b>La avena</b> pareciera no producir daño pero, en su proceso de industrialización, puede encontrarse contaminada granos de trigo, cebada o centeno.
                                <br> 
                                La Celiaquía se presenta en personas que tienen predisposición genética a padecerla. Se sabe que aparece con más frecuencia entre miembros de la misma familia. 
                                <br>
                                Se estima que en Argentina <b>1 de cada 100 habitantes puede ser celíaco.</b><br>
                                <br> 
                                Esta intolerancia produce una lesión característica de la mucosa intestinal provocando una atrofia de las vellosidades del intestino delgado, lo que altera o disminuye la absorción de los nutrientes de los alimentos (proteínas, grasas, hidratos de carbono, sales minerales y vitaminas). Es este fenómeno el que produce el clásico cuadro de mala absorción. 
                                <br>
                                La característica principal que define a esta atrofia vellositaria es que, la mucosa intestinal se normaliza cuando se inicia la dieta sin TACC.
                                <br> 
                                También se presenta asociada a enfermedades autoinmunes y genéticas y se puede descubrir en pacientes asintomáticos.
                                <br> <br>
                                Se dice que la celiaquía es una <b>condición autoinmune</b>, es decir que el sistema de defensa de los celíacos reconocería como extraño o no perteneciente al organismo, al gluten, y produciría anticuerpos o defensas contra el mismo. Estos anticuerpos provocarían la lesión del intestino con destrucción o atrofia de su mucosa (capa interior del intestino), produciéndose una alteración en la absorción de los alimentos.
                            </p>
                            <br>
                            <p>
                                <!-- La clase simulacionBoton emula las caracteristicas del boton en bootstrap pero sin el evento, solo el estilo. -->
                                <div class="simulacionBoton"> Fuente <span class="glyphicon glyphicon-chevron-right"></span></div> <a a target='_blank' href='http://www.celiaco.org.ar/index.php/celiaquia/que-es-la-celiaquia-' id="info" class="btn btn-rosa" > Asociación Celíaca Argentina <span class="glyphicon glyphicon-bookmark"></span></a>
                            </p>    
                        </div>
                       
           
                       
                      </article>
                 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <img src="img/publicidad2.png" alt="" class="img-responsive img-rounded">
                    </div>
            </section>	
         