        <div class="container">           

                    <!-- Migas de pan -->
                    <ol class="breadcrumb reseteo-de-migas-de-pan migascolor">				
                        <li><a href="index.html" class="migascolor2"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                        <li id="txtAcercaDe">Paginas utiles</li>
                    </ol>
                    
                    <section class="col-lg-8">
                        <h2>Páginas útiles</h2>
                        <p>Encuenta la información que estabas buscando en los links recomendados por Celiapp.</p><br>
                        <div class="list-group">
                              
                              <a href="http://www.anmat.gov.ar/" class="list-group-item"><span class="glyphicon glyphicon-bookmark"></span> A.N.M.A.T</a>
                              <a href="#" class="list-group-item"><span class="glyphicon glyphicon-bookmark"></span> Opción 2</a>
                              <a href="#" class="list-group-item"><span class="glyphicon glyphicon-bookmark"></span> Opción 3</a>
                              <a href="#" class="list-group-item"><span class="glyphicon glyphicon-bookmark"></span> Opción 4</a>
                        </div>
                    </section>
                    <article class="col-lg-4"><img src="img/publicidad2.png" alt="" class="img-responsive"></article>
              
        </div>