<!DOCTYPE html>
<html lang="es">
    <!-- #################################################- 01.HEAD-#################################################-->
    <head>
        <!--1.1 -Declaracion de etiquetas META-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name= "description" content="Es una pagina web que se dedica a la busqueda de alimentos aptos para celiacos">
        <!--1.2 -Declaracion de etiquetas LINK-->
        <link rel="shortcut icon" type="image/x-icon" href="img/celi.ico">  
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="css/loginfacebook.css">
        <link rel="stylesheet" href="css/producto.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <!--1.3 -Declaracion de etiquetas LINK-->
        
        <!--Scripts necesarios para el funcionamiento de bootstrap y jquery-->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/loginfacebook.js"></script>
        <script src="js/navbar.js"></script>
        <script src="js/generarMapa.js"></script>
        <script src="js/producto.js"></script>

        <!-- carga  script para la conexion segun la api de facebook.-->
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    </head>
    <!-- #################################################-FIN DE HEAD-#################################################-->

    <!-- #################################################- 02.BODY  -#################################################-->
    <body>
        <!-- #################################################- 03.HEADER -#################################################-->
        <header>
            <!--2.1 Barra de navegacion o Navbar-->
            <div class="container">
                <nav class="navbar navbar-default navbar-fixed-top formato-nabvar navcolor">
                    <div class="container-fluid">
                        <!--2.2 - Navbar Header-->          
                        <div class="navbar-header">
                            <!--2.2.1 - Navbar boton de menu (vista movil)-->   
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                                <span class="sr-only">Menu</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--2.2.2 - Navbar Brand-->         
                            <!--<a href="#" class="navbar-brand">IMG de Logo</a>-->
                            <a href="index.php"><img src="img/logo1.png" alt="logo" class=""></a>
                        </div>          
                        <!--2.2.3 - Navbar Menu (opciones)-->       
                        <div class="container" id="navbarcentrado"> 
                            <nav class="collapse navbar-collapse" id="navbar-1">           
                                <ul class="nav navbar-nav"> 
                                    <!--2.2.3.1 - Opcion inicio-->                          
                                    <li class="reseteo-menu "><a href="index.php" id="barra"><span class="glyphicon glyphicon-home"> </span><b> Inicio</b></a></li>                     
                                    <!--2.2.3.2 - Menu desplegable de Buscar--> 
                                    <li class="reseteo-menu "><a href="busqueda_categoria.php" id="barra"><span class="glyphicon glyphicon-search"> </span><b> Categorias</b></a></li>  
                                    <!--2.2.3.2 - Menu desplegable de Informacion--> 
                                    <li class="dropdown reseteo-menu">
                                        <a href="#" id="barra" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-info-sign"></span> <b> Información    </b>         
                                            <span class="caret"></span>
                                        </a>
                                        <!--se crea un dropdown menu para poder dar opciones de despliegue-->
                                        <ul class="dropdown-menu">                      
                                            <li><a href="informacion.php">Celiaquia</a></li>
                                            <li class="reseteo-menu"><a href="pagutiles.php">Páginas utiles</a></li> 
                                            <li class="reseteo-menu"><a href="acercade.php">Acerca de</a></li>   
                                        </ul>               
                                    </li>
                                </ul>
                                <form id="buscar-nav" class="navbar-form navbar-right" action="busqueda_nombre_marca.php" method="POST">
                                    <input id="prodcuto" name="producto" type="text" class="form-control hidden-xs hidden-sm hidden-md " placeholder="Buscar" required/>
                                </form>
                                <!--2.2.3.4 - Formulario contenedor de boton de Login-->    
                                <form class="navbar-form navbar-right">
                                    <div class="form-group">
                                        <a href="#" id="login" class="btn btn-rosa"><span class="glyphicon glyphicon-user"></span> <b>Login</b></a>
                                    </div>
                                </form>
                            </nav>
                        </div>
                        <form id="buscar-nav-oculto" class="navbar-form" action="busqueda_nombre_marca.php" method="POST">
                            <div class="row">
                                <div class="form-group hidden-lg">
                                    <input type="text" id="producto-oculto" name="producto-oculto" class="form-control" placeholder="Buscar" required/>                                              
                                </div>
                            </div>
                        </form>
                    </div>
                </nav>
                <div class="estilo">asd</div>
            </div>
        </header>
        <!-- #################################################-FIN DEHEADER-#################################################-->
<!--        <div class="row">

        </div>-->
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div id="titulo">
            </div>
            <label>Marca: </label> <label id="marca"></label><br>
            <label>Categoría: </label> <label id="categoria"></label><br>
            <form id="formMapa" action="producto.php">
                <div class="form-group">
                    <label for="txtUbicacion">Ubicación: (en el Mapa)</label><input type="text" class="form-control controls" id="txtUbicacion" placeholder="Ingrese la ubicación aqui"/>
                </div>
                <div id="divForm" class="form-group" style="display: none">
                    <label for="Precio">Precio: (en el Mapa)</label> <input type="number" step="0.01" id="Precio" style="width: 80%" placeholder="Ingrese el precio"/>
                    <input type="submit" value="Enviar"/>
                </div>
                <a href="./busqueda_categoria.php"><button type="button" class="btn btn-rosa">Volver</button></a>
            </form>
        </div>
        <input id="pac-input" class="controls" type="text" placeholder="Ingrese la ubicación aquí">
        <div id="map" class="col col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiL0MS78k5RHH_06DUTaZyzegUjYSbGEY&signed_in=true&libraries=places&callback=getLocation" async defer></script>