<!--SCRIPT PARA CAMBIAR LOS NOMBRES ENTRE PÁGINAS -->
<script language="javascript">
    document.title = "Recomendaciones";
</script>     
        
              <br>
        <!--Menu de navegacion por pills 
            -se utiliza un menu de navegacion por tab para poder ir de pagina en pagina
            -con li se le da las pestañas y con role=presentation el estilo o funcion de pestaña -->
         <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation" id="liAcercaDe"><a href="informacion.php" >Celiaquia</a></li>
                <li role="presentation"  id="liDesarrolladores"><a href="diagnostico.php">Diagnostico</a></li>
                <li role="presentation" id="liDesarrollo"><a href="sintomatologia.php">Sintomatologia</a></li>
                <li role="presentation" id="liDesarrollo"><a href="consejosutiles.php">Consejos utiles</a></li>
                <li role="presentation"  class="active" id="liDesarrollo"><a href="recomendaciones.php">Recomendaciones</a></li>
            </ul>
        </div>
        <!-- Contenedor de texto con una clase main row, justificado con text-justify y compartido con una imagen de muestra. que se van a    moldando en base al sistema de columnas-->
        <div class="container">
            <section class="main row">
                <article class="color2 col-xs-12 col-sm-8 col-md-8 col-lg-8 ">			
                <br>
                   
                 <h2>Recomendacones a la hora de cocinar</h2>
                            <br>  
                            
                   <div class="media">
                             <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>Antes de comenzar a cocinar</b></h4>
                                <p>Es aconsejable leer toda la receta y preparar los ingredientes necesarios en las cantidades indicadas, para lo cual es muy útil contar con una balanza de cocina.</p>
                              </div>
                              <br>    
                              
                             <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>Si utiliza alimentos frescos</b></h4>
                                <p>(manteca, leche, huevos, etc.) sáquelos anticipadamente de la heladera de manera que se encuentren a temperatura ambiente, a menos de que la receta que desee realizar requiera que los ingredientes estén fríos.</p>
                              </div>
                              <br>     
                          <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>Los alimentos libres de gluten</b></h4>
                                <p>Al ponerse en contacto con aquellos que lo contienen, se pueden contaminar, por eso es necesario recordar que en la cocina de su hogar, deberá separar los productos o harinas que contengan trigo y almacenarlos separadamente.</p>
                              </div>
                              <br>   
                         <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>El gluten presente en las harinas</b></h4>
                                <p>Favorece la elasticidad y consistencia de las la masas, así que cuando cocine con harinas aptas para celíacos, debe usar batidoras eléctricas  para asegurar una buena mezcla que eleve la masa.</p>
                              </div>
                              <br>  
                        <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>Todos los ingredientes líquidos deben ser añadidos a la preparación a una temperatura tibia.</b></h4>
                                <p>Para asegurar una mejor unión y consistencia de la masa.</p>
                              </div>
                              <br>  
                         <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>Para preparar masas sin TACC</b></h4>
                                <p>Hace falta más agua que en las recetas tradicionales, por lo que es aconsejable seguir atentamente las instrucciones.</p>
                              </div>
                              <br> 
                              
                     <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>Los ingredientes que se pueden utilizar para darle cuerpo a las preparaciones son:</b></h4>
                                <p>La gelatina sin sabor, el bicarbonato de sodio, la goma xántica, etc.</p>
                              </div>
                              <br>    
                              
                     <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>Siempre pase por el tamiz todos los polvos</b></h4>
                                <p>(harina, levadura, etc.) antes de amasar</p>
                              </div>
                              <br> 
                              
                      <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>Precaliente antes el horno a la temperatura requerida</b></h4>
                                <p>Y no lo abra durante los primeros 15 ó 20 minutos de cocción.</p>
                              </div>
                              <br>  
                              
                         <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>Para comprobar si una preparación está lista</b></h4>
                                <p>Introduzca en el centro un palillo, que deberá salir seco.</p>
                              </div>
                              <br> 
                       <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>No toque las comidas o utensilios sin lavar</b></h4>
                                <p>(platos, cucharas de madera, coladores, cacerolas, etc.) que hayan estado en contactos con alimentos prohibidos.</p>
                              </div>
                              <br> 
                         <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b> No coloque la comida directamente en superficies contaminadas</b></h4>
                                <p>Como mesadas, fuentes o  parrilla. Siempre limpie bien el lugar de trabajo y los utensilios antes de comenzar la tarea.</p>
                              </div>
                              <br> 
                         <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>No utilice aceite para freír</b></h4>
                                <p>Ya usado para cocinar alimentos enharinados o empanados.</p>
                              </div>
                              <br> 
                         <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>Cubra con papel de aluminio o de hornor</b></h4>
                                <p>Las placas y superficies que puedan estar contaminadas.</p>
                              </div>
                              <br> 
                         <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>No utilice el agua de cocción ya usada para la pasta con gluten.</b></h4>
                                <p></p>
                              </div>
                              <br>
                        <!--ELEMENTO MEDIA-->
                              <div class="media-left media-top">
                                <a href="#">
                                  <img class="media-object" src="img/logo64x64.png" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><b>También es importante que los utensilios de cocina usados.</b></h4>
                                <p>En la preparación de las especialidades sin gluten no entren en contacto con ingredientes con gluten para evitar la contaminación.</p>
                                <br>
                            <p>
                                <!-- La clase simulacionBoton emula las caracteristicas del boton en bootstrap pero sin el evento, solo el estilo. -->
                                <div class="simulacionBoton"> Fuente <span class="glyphicon glyphicon-chevron-right"></span></div> <a a target='_blank' href='http://www.celiaco.org.ar/index.php/recomendaciones-a-la-hora-de-cocinar' id="info" class="btn btn-rosa" > Asociación Celíaca Argentina <span class="glyphicon glyphicon-bookmark"></span></a>
                            </p>
                              </div>
                              <br>
                   </div>
                   






                </article>
                 <!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <img src="img/publicidad2.png" alt="" class="img-responsive img-rounded">
                    </div>-->
            </section>
            <script src="js/producto.js"></script>
       
  